{% extends "base.html" %}

{%block title %}{{ deck.name }}{% endblock %}

{% block content %}
<h1> {{ deck.name }}</h1>
<p>date published: {{deck.pub_date}} </p>
<p>{{ deck.description }}</p>

<p><a href="{% url 'decks:update_deck' pk=deck.id %}">Want to change your deck name or description? You can edit it here.</a><p>
<p><a href="{% url 'decks:delete_deck' pk=deck.id %}">Hate this deck? Permanently delete it and all its cards by clicking this link.</a><p>
<br>
<p><a href="{% url 'decks:new_card' pk=deck.id %}">Add a new card to this deck!</a></p>

{% for card in deck.card_set.all %}
  <img src='{{ card.image_url }}'>
  <p>{{ card.name }}
    <a href="{% url 'decks:update_card' pk=card.id %}">Edit</a>
    <a href="{% url 'decks:delete_card' pk=card.id %}">Delete</a>
  </p>
{% endfor %}
{% endblock %}
