li a {
  color: green;
}

body {
    background: #fff1d2;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  color: #573b0f;
}

p {
  color: #748d3f;
}

a {
  color: #d07a5d;
}
